@import "compass";

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// Bootstrap comes with -4px, which looks 1 pixel off in both Chrome and Firefox
.input-group-btn>.btn+.btn {
    margin-left: -5px !important;
}

// For full-width rows that we need in the search results
.container-liquid {
  padding: 0 15px;
  margin: 0 auto;
}

.displaynone {
    display: none;
}

select[disabled] {
    color: #919191;
}

$margin: 10px;
$basecolor: #0080B0;
$backgroundcolor: scale-color($basecolor, $lightness: 87%);

body {
    background-color: $backgroundcolor;
}

.navbar {
    margin-bottom: 0;
}

.navbar-danger {
    color: #FF0000 !important;
}

.nav > li > a > .glyphicon, .nav > li > .glyphicon {
    color: $backgroundcolor;
}

#search {
    width: 350px;
    float: left;
}

#main {
    margin-top: $margin;

    > h1 {
        margin-top: 0;
    }
}

.alert-critical {
    background-color: #F2DEDE;
    border-color: #FF0000;
    color: #FF0000;
}

.working {
    color: #FF8000;
}

.alert-in-top, .tutorial-step {
    margin-top: $margin;
    margin-bottom: 0;

    > :first-child {
        margin-top: 0;
    }
}

// Default "info" colors are basically the same as the background of body,
// so change them into something that stands out a bit more.
.alert-info {
    background-color: #FFFFFF;
    border-color: #A8CEFF;
}

.alert-timestamp {
    margin: 0 0 5px 5px;
}

#news address {
    display: block;
    line-height: 1.428571429;
    color: #999999;

    &:before {
        content: '\2014 \00A0';
    }
}

.highlight {
    color: #FF0000;
    font-weight: bold;
}

.ui-widget {
    font-size: 13px;

    * {
        @include box-sizing(content-box);
    }
}

.ui-widget-header {
    background: none;
    background-color: #B6DFEE;
    color: #000000;
}

.dataTables_length {
    padding-top: 3px;
}

.dataTable {
    font-family: monospace;
    font-size: 13px;
}

.dataTables_wrapper .ui-toolbar {
    padding: 1px 1px 1px 5px;
}

.table-header-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;

    > h2 {
        display: inline;
        font-size: 24px;
    }
}

.dataTables_wrapper {
    margin-bottom: $margin * 3;
}

.even.selectedRow td {
	background-color: #B0BED9 !important;
}

.odd.selectedRow td {
	background-color: #9FAFD1 !important;
}

// XXX: Required to prevent big arrows when pointing to things
//      inside, for instance, an h2
h2 > .popover {
    font-size: 14px;
}

