{% extends "app_layout.html" %}
{# load humanize #}


{% block title %}Global Tag Collector{% endblock %}

{% block media%}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        // Hide error box by default
        $("#error_box").hide();

        $("select#id_release_from").chosen();
        $("select#id_release_to").chosen();
        $("select#id_last_gt").chosen();

        // Validate queue name field
        $('#form_edit_queue').submit(function(e){
            var queue_name = $("#id_name").val();
            valid_regex = new RegExp('^[a-zA-Z0-9_]{1,100}$');

            if (!valid_regex.test(queue_name)) {
                $("#error_box").show();
                e.preventDefault();
            }
        }); // end submit event
    });
</script>
{% endblock %}

{%  block content %}
{# load tags #}


<div class="row">
    <div class="span5">
        <h1>Edit GT Queue</h1>
    </div>
    <div class="span7" style="float: right; margin-top: 12px;">
        <div id="error_box" class="alert alert-error" style="margin: 0;">
            <a onClick="$(this).parent().hide();">× </a>
            <strong>ERROR: </strong>Queue name can contain only characters, digits and underscores.
        </div>
    </div>
</div>

<form action="{% url gt_queue_edit queue_id=gt_queue.id %}" id="form_edit_queue" method="POST">
    <div class="row">
        <div class="span12">
            {% csrf_token %}
            <table  class="table table-condensed table-bordered">
                <tr>
                    <th>Queue name</th>
                    <td>{{gt_queue.name}}</td>
                </tr>
                {{gt_queue_form}}
            </table>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
