{% extends "app_layout.html" %}
{# load humanize #}


{% block title %}Global Tag Collector :: Tags List{% endblock %}

{% block media%}
{{ block.super }}
    <script>
        jQuery(document).ready(function(){
            jQuery(".chosen").chosen({ max_selected_options: 1 });

            $("#gt_name").change(function(){
                var action = $(this).val();
                $('#gt_tags_form').attr("action", "?gt=" + action)
            });

        });
    </script>
{% endblock %}

{%  block content %}
{# load tags #}

<div class="row">
    <div class="span6">
        <h1 id="toppage">Tags</h1>
    </div>
</div>

<form action="" id="gt_tags_form" method="GET">
<div class="row">
    <div class="span4">
        <!-- multiple dropdown -->
        <select class="chosen" multiple="multiple" name="gt" id="gt_name" data-placeholder="Click here to select a GT" style="width:300px;">
        {% for gt in gt_obj_list %}
            <option value="{{ gt.id }}">{{ gt.name }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="span7">
        <input id="submit_and_view" type="submit" class="btn btn-info" value="Get GT Tags" />
    </div>
</div>
</form>

<div class="row" style="margin-bottom: 10px;">
    <div class="span7">
        Displaying {{ distinct_tags|length }} tags out of {{ distinct_tags_count }}
        in GT: <strong>{% if gt_name %}{{ gt_name }}{% else %}ALL GTs{% endif %}</strong>
    </div>
    <div class="span4" style="text-align: right;">
        <a href="?gt={{request.GET.gt}}&download=true">Download as text file</a>
    </div>
</div>

<div class="row">
    <div class="span11">
        <table class="table table-striped table-condensed table-bordered">
        {% if distinct_tags_all %}
            <tr><th>Tag name</th></tr>
            {% for tag in distinct_tags %}
            <tr><td>{{ tag.name }}</td></tr>
            {% endfor %}
        {% else %}
            <tr>
                <th>Tag name</th>
                <th>Record name</th>
            </tr>
            {% for tag in distinct_tags %}
            <tr>
                <td>{{ tag.tag__name }}</td>
                <td>{{ tag.record__name }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        </table>
    </div>
</div>

<div class="row">
    <div class="span7">
        Displaying {{ distinct_tags|length }} tags out of {{ distinct_tags_count }}
        in GT: <strong>{% if gt_name %}{{ gt_name }}{% else %}ALL GTs{% endif %}</strong>
    </div>
    <div class="span4" style="text-align: right;">
        <a href="?gt={{request.GET.gt}}&download=true">Download as text file</a>
    </div>
</div>

<div class="row">
    <div class="span11">
        <div class="pagination-large pagination-centered" style="margin-bottom: 20px;">
                {% if distinct_tags.has_previous %}
                    {% if request.GET.gt %}
                    <a href="?gt={{ request.GET.gt }}&page={{ distinct_tags.previous_page_number }}">&laquo; Previous</a>
                    {% else %}
                    <a href="?page={{ distinct_tags.previous_page_number }}">&laquo; Previous</a>
                    {% endif %}
                {% endif %}

                <span class="current">
                    Page {{ distinct_tags.number }} of {{ distinct_tags.paginator.num_pages }}
                </span>

                {% if distinct_tags.has_next %}
                    {% if request.GET.gt %}
                    <a href="?gt={{ request.GET.gt }}&page={{ distinct_tags.next_page_number }}">Next &raquo;</a>
                    {% else %}
                    <a href="?page={{ distinct_tags.next_page_number }}">Next &raquo;</a>
                    {% endif %}
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}
