<!DOCTYPE html>
<html>
    <head>
        <title>CMS ConditionDB EasyMon</title>
        <meta http-equiv='refresh' content='600'>
        <style type="text/css">
            {% set headerPadding = 0.15 %}

            html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, fieldset, ol, ul, li, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 1em;
                background: transparent;
            }

            header, footer {
                background-color: #333333;
                color: #FFFFFF;
                text-shadow: 0 -1px 1px #000000;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding: .4em .4em;
                font-size: 1.1em;
            }

            .header {
                padding-top: {{ headerPadding }}em;
                padding-bottom: {{ headerPadding }}em;
            }

            a.header {
                color: inherit;
                text-decoration: inherit;
            }

            .title {
                font-size: {{ 1 + 2 * headerPadding }}em;
            }

            .rounded {
                border-radius: .6em;
                padding-left: .6em;
                padding-right: .6em;
            }

            .back:hover {
                background-color: #999999;
            }

            .back {
                background-color: #777777;
                float: left;
                border: 1px solid #999999;
            }

            .item:hover {
                background-color: #DDDDDD;
            }

            .item {
                display: block;
                color: inherit;
                text-decoration: inherit;
                background-color: #FAFAFA;
                padding: 1em;
                border-top: 1px solid #CCCCCC;
            }

            .itemTitle {
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: .5em;
            }

            .statusOK {
                background-color: #99FF99;
            }

            .statusWARN {
                background-color: #FFCC80;
            }

            .statusCRIT {
                background-color: #FF9999;
            }

            .statusUNKNOWN {
                background-color: #CCCCCC;
            }

            .box:first-child {
                margin-left: 0;
            }

            .box {
                float: left;
                height: 1.3em;
            }

            .boxBorder {
                border: 1px solid #000000;
                height: inherit;
                margin: -1px;
            }

            .boxTitle {
                padding: .1em;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .age {
                float: right;
            }

            .label {
                font-weight: bold;
                font-size: .8em;
            }

            .message {
                border: 1px solid #000000;
                padding: .2em;
            }

            .footerTitle {
                float: left;
            }

            .legend {
                float: right;
            }

            .legendBox {
                color: #000000;
                text-shadow: none;
                margin-left: .2em;
            }

            .clear {
                clear: both;
            }
        </style>
    </head>
    <body>
        <header>
            <a class="header rounded back" href="..">Back</a>
            <h2 class="title">{{ title }}</h2>
            <div class="clear"></div>
        </header>
        {% for item in items %}
            {% if item['isGroup'] %}
                <a class="item" href="{{ item['title'] }}">
                    <h3 class="itemTitle">{{ item['title'] }}</h3>
                    <div>
                    {% for (itemTitle, weight, status) in item['status'] %}
                        <div class="box status{{ status }}" style="width: {{ weight }}%;"><div class="boxBorder"><div class="boxTitle">{{ itemTitle }}</div></div></div>
                    {% endfor %}
                    </div>
                    <div class="clear"></div>
                </a>
            {% else %}
                <div class="item">
                    <p class="age">{% if item['url'] %}<a href="{{ item['url'] }}">Check_MK's service page</a> - {% endif %}<span class="label">State age: </span>{{ item['stateAge'] }} - <span class="label">Check age: </span> {{ item['checkAge'] }}</p>
                    <h3 class="itemTitle">{{ item['title'] }}</h3>
                    <div class="clear"></div>
                    <p class="message status{{ item['status'] }}">{{ item['message'] }}</p>
                </div>
            {% endif %}
        {% endfor %}
        <footer>
            <span class="header legend">
                Legend:
                <span class="header rounded legendBox statusOK">OK</span>
                <span class="header rounded legendBox statusWARN">Warning</span>
                <span class="header rounded legendBox statusCRIT">Critical</span>
                <span class="header rounded legendBox statusUNKNOWN">Unknown</span>
            </span>
            <h1 class="header footerTitle">CMS ConditionDB EasyMon - {{ datetime.replace(microsecond = 0) }}</h1>
            <div class="clear"></div>
        </footer>
    </body>
</html>

