<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8" />

	<title>CMS Easy Mon</title>

	<link rel="stylesheet"  href="https://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />

    <script type="text/javascript" src="libs/jquery-1.6.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
    <script type="text/javascript" src="libs/fancybox/jquery.fancybox-1.3.4.pack.js?v=1"></script>

    <link rel="stylesheet" href="libs/fancybox/jquery.fancybox-1.3.4.css?v=v1" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/bar.css" />
    <link rel="stylesheet" type="text/css" href="css/bar2.css" />
    <link rel="stylesheet" type="text/css" href="css/footerTimeStamp.css" />

	<script type="text/javascript" src="js/MobileStyle.js"></script>
	<script type="text/javascript" src="js/Helper.js"></script>
	<script type="text/javascript" src="js/ValuesArray.js"></script>

        <script type="text/javascript">
           function pageRefresh() {
//              timestamp = ($(".footer-timestamp").html()).substring(16);
//              myDate = new Date();
//              if ((new Date()).getTime() - Date.parse(timestamp) > 180000) {
//                 setTimeout("location.reload(true);", 0);
//              }
//              else {
//                 setTimeout("location.reload(true);", 600000);
//              }
           }
        </script>

</head>
<body>

<script type="text/javascript">
  window.onload = function() { pageRefresh(); };
  window.onunload = function(){};

$(document).ready(function() {

    var mobileStyle =   new MobileStyle();
    var helper      =   new Helper();
    var valuesArray =   new ValuesArray();
    $('div').live('pageshow',function(event, ui){
        if(helper.checkFile()){
            helper.setButton();
            helper.setBehaviour();
        }
        valuesArray.sortArray();
        valuesArray.refreshList();
        mobileStyle.setCssProperties();
        mobileStyle.setButton();
    });
});
</script>

{{main}}

</body>
</html>
