div.footer-timestamp {
   float:right;
   font-size:12px;
   font-weight:normal;
   padding-right:25px;
   padding-top:14px;
}

div.footer-space {
   float:left;
   font-size:12px;
   font-weight:normal;
   padding-left:25px;
   padding-top:14px;
   visibility:hidden;
}

div.ui-footer .ui-title {
   overflow:visible
}
