<div id="footer" style="background-color: #F9F9F9; width: 100%; border-top: 1px solid #e6e6e6; ">
        <div class="container">
            <div class="row" style="margin-bottom: 0px;">
                <div class="span6 ">
                    <h6>Contact information</h6>
                    <ul style="list-style-type: none;">
                        <li>Data: <a href="https://phonebook.cern.ch/foundpub/Phonebook/?id=PE606786">Gianluca Cerminara</a></li>
                        <li>Development: <a href="https://phonebook.cern.ch/phonebook/?id=PE724338">Dimitar Hadzhiyski</a></li>
                    </ul>
                </div>
                <div class="span6 ">
                    <h6>Links</h6>
                    <ul style="list-style-type: none;">
                        <li><a href="https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCalAliGTTagCollector">Twiki page for Global Tag Collector</a></li>
                        <li><a href="https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCalAli">Twiki page for Calibration and Alignment</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>