<div id='news' class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h1>News</h1>

            <article>
                <h2>Welcome to the new CMS Conditions DB service <small>2014-01-01</small></h2>
                <p>We are pleased to introduce you the service that hopefully will give an answer to all your Conditions-related needs during the second data taking period. The service has been built on top of new technologies and was made possible thanks to a major redesign to the Conditions database and software during the first long shutdown.</p>
                <p>These are the main features we have put in place:</p>
                <ul>
                    <li>We have unified all the old services into one.</li>
                    <li>Accordingly, the User Interface now looks the same everywhere.</li>
                    <li>A single search form in the top gives you direct access to all the Conditions data: Tags, IOVs, Payloads, Global Tags, Records...</li>
                    <li>A menu that, when finalized, should be able to point you to anything you need.</li>
                    <li>An <i>Upload Tag</i> page, really easy to use, equivalent to the old <i>upload.py</i> script.</li>
                    <li>All the <i>Global Tags' administration</i> and workflows (i.e. the current GTC) will be integrated as well into this service.</li>
                </ul>
                <p><strong>Do not miss the <a href='#tutorial'>Tutorial</a>!</strong></p>
                <p>Feel free to drop suggestions or tell us about problems: use the <em>Email the Web Experts</em> button under the <em>Support</em> dropdown in the <em>Menu</em>.</p>
                <address>Miguel</address>
            </article>
        </div>
    </div>
</div>

