{% extends "app_layout.html" %}
{# load humanize #}


{% block title %}Global Tag Collector :: GT Compare{% endblock %}

{% block media%}
{{ block.super }}
    <style type="text/css">
        #content {
            min-height: 270px;
        }
    </style>
    <script>
        jQuery(document).ready(function(){
            // Hide error box by default
            $("#error_box").hide();

            jQuery(".chosen").chosen({ max_selected_options: 2 });

            $('#acc_check').change(function(c){
                $('#compare_form').submit();
            });

            // Check if exactly 2 releases have been chosen, otherwise show error message
            $('#compare_form').submit(function(e){
                var selected_releases = $(".chosen").val()
                if ((selected_releases === null) || (selected_releases.length != 2)) {
                    $("#error_box").show();
                    e.preventDefault();
                } else {
                    if (window.location.search == "") {
                        var acc_ignored = $("<input>").attr("type", "hidden").attr("name", "acc_ignored").val(1);
                        $(this).append($(acc_ignored));
                    }
                    $("#error_box").hide();
                } // end else
            })
        });
    </script>
{% endblock %}

{%  block content %}
{# load tags #}

<div class="row">
    <div class="span6">
        <h1 id="toppage">GT Compare</h1>
    </div>
</div>

<form action="" id="compare_form" method="GET">
<div class="row">
    <div class="span4">
        <!-- multiple dropdown -->
        <select class="chosen" multiple="true" name="compare" data-placeholder="Click here to select 2 GTs to compare" style="width:315px;">
        {% for gt in all_gts %}
            <option value="{{ gt.name }}" {% if gt.name in gts_to_compare %}selected="selected"{% endif %}>{{ gt.name }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="span3">
        <input id="submit_and_view" type="submit" class="btn btn-info" value="Compare GTs" style="margin-left: 12px;" />
        <a class="btn btn-danger" href="{% url gt_compare %}" style="margin-left: 12px;">Clean</a>
    </div>
    <div class="span5">
        <div id="error_box" class="alert alert-error" style="margin: 0px; margin-right: 16px; padding: 4px">
            <a onClick="$(this).parent().hide();">×</a>
             <strong>ERROR: </strong>Please select <strong>exactly two</strong> GTs to compare.
        </div>
    </div>
</div>

{% if gts_compared %}
<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="span8">
        <a href="#" data-toggle="collapse" data-target="#same_tags">Click to show/hide the list of same tags in both GTs</a>
    </div>
    <div class="span4" style="width: auto; float: right;">
<!--         <label class="checkbox-label"> -->
            <input type="checkbox" id="acc_check" name="acc_ignored" value="1" {% if request.GET.acc_ignored %}checked="checked"{% endif %} style="vertical-align: top; "> Ignore account
<!--         </label> -->
    </div>
</div>

<div class="row collapse out" id="same_tags">
    <div class="span12">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th colspan="2">{{ gts_compared.2.tags|length }} tags in both GTs</th>
            </tr>
            <tr><th>Tag</th><th>Account</th></tr>
            {% for tag in gts_compared.2.tags %}
            <tr><td>{{ tag.0.0 }}</td><td>{{ tag.0.1 }}</td></tr>
            {% empty %}
            <tr><td colspan="2">- - -</td></tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="row">
    <div class="span12">
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th colspan="5">
                {{ gts_compared.0.tags|length }} Tags in <span class="badge badge-success">{{ gts_compared.0.gt }}</span>
                but NOT in <span class="badge badge-info">{{ gts_compared.1.gt }}</span>
            </th>
        </tr>
        <tr><th>Tag</th><th>Record</th><th>Label</th><th>Comment</th><th>Account</th></tr>
        {% for entry in gts_compared.0.tags %}
        <tr><td>{{ entry.0.0 }}</td><td>{{ entry.0.1 }}</td><td>{{ entry.0.2 }}</td><td>{{ entry.0.3 }}</td><td>{{ entry.0.4 }}</td></tr>
        {% empty %}
        <tr><td colspan="5">- - -</td></tr>
        {% endfor %}
    </table>

    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th colspan="5">
                {{ gts_compared.1.tags|length }} Tags in <span class="badge badge-info">{{ gts_compared.1.gt }}</span>
                but NOT in <span class="badge badge-success">{{ gts_compared.0.gt }}</span>
            </th>
        </tr>
        <tr><th>Tag</th><th>Record</th><th>Label</th><th>Comment</th><th>Account</th></tr>
        {% for entry in gts_compared.1.tags %}
        <tr><td>{{ entry.0.0 }}</td><td>{{ entry.0.1 }}</td><td>{{ entry.0.2 }}</td><td>{{ entry.0.3 }}</td><td>{{ entry.0.4 }}</td></tr>
        {% empty %}
        <tr><td colspan="5">- - -</td></tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endif %}
</form>

{% endblock %}
