{% autoescape off %}
[COMMON]
connect=sqlite_file:{{ gt_name }}.db
#connect={{ gt_account }}

[TAGINVENTORY]
tagdata=
{% for item_to_render in items_to_render %} {% if forloop.last %}{{ item_to_render.tag_name }}{pfn={{ item_to_render.pfn }},objectname={{ item_to_render.object_name }},recordname={{ item_to_render.record_name }}{% if item_to_render.label %},labelname={{item_to_render.label}}{% endif %}}{% else %}{{ item_to_render.tag_name }}{pfn={{ item_to_render.pfn }},objectname={{ item_to_render.object_name }},recordname={{ item_to_render.record_name }}{% if item_to_render.label %},labelname={{item_to_render.label}}{% endif %}};{% endif %}
{% endfor %}


[TAGTREE {{ gt_name }}]
root=All
nodedata=Calibration{parent=All}
leafdata=
{% for item_to_render in items_to_render %} {% if forloop.last %}{{ item_to_render.record_name_stripped }}{{item_to_render.label}}{parent=Calibration,tagname={{ item_to_render.tag_name }},pfn={{ item_to_render.pfn }}}{% else %}{{ item_to_render.record_name_stripped }}{{item_to_render.label}}{parent=Calibration,tagname={{ item_to_render.tag_name }},pfn={{ item_to_render.pfn }}};{% endif %}
{% endfor %}

{% endautoescape %}